@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<div class="container">
<h1>Stylists And Their Clients</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
} 

@foreach (Client client in Model)
{
  <li>Client: @Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })  
  <br>Stylist: @client.Stylist.Name</li>
 
}

<h1>Search for Clients of Stylists</h1>
<form method="post">
    <select name = "value">
    <option value= >Search for his clients</option>
    <option value ="1">Bill</option>
    <option value ="2">Tom</option>
    <option value ="3">Billy</option>
    <option value ="4">Joel</option>
    <option value ="5">Joe</option>
    <option value ="6">Bill</option>
    <option value ="7">Tim</option>
    <option value ="8">Jimmy</option>
    <option value ="8">Chris</option>
    </select>
    <button name="searchType" value="stylists" type='submit'>Search</button>
</form>

<p>@Html.ActionLink("Show all Client", "Index")</p>
<p>@Html.ActionLink("Add new client", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>