@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>Stylist Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): 
@Html.DisplayFor(model => model.Name)</h3>
 @Html.DisplayNameFor(model => model.StylistId): 
 @Html.DisplayFor(model => model.StylistId)</h3>


<ul>
@if (@Model.Client.Count == 0)
{
  <p>no items found</p>
}

@foreach (Client client in @Model.Client)
{
  @Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })
}
</ul>