@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>Cuisine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): 
@Html.DisplayFor(model => model.Name)</h3>

<ul>
@if (@Model.Restaurants.Count == 0)
{
  <p>no items found</p>
}

@foreach (Restaurants restaurants in @Model.Restaurants)
{
  <li>Description: @restaurants.Description</li>
}
</ul>

<p>@Html.ActionLink("Back to cuisines", "Index")</p>
<p>@Html.ActionLink("Edit Cuisines", "Edit", new { id = Model.CuisinesId })</p>
<p>@Html.ActionLink("Delete Cuisines", "Delete", new { id = Model.CuisinesId })</p>